@font-face {
  font-family: "ArcadeClassic";
  src: local("ArcadeClassic"), url("./ArcadeClassic.otf");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "ArcadeClassic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
  word-spacing: 0.5em;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #72a4d2;
  padding: 1px 6px;
  margin: 3px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark-color(
    rgb(118, 118, 118),
    rgb(195, 195, 195)
  );
  color: white;
  font-weight: bold;
  font-family: "ArcadeClassic";
  letter-spacing: 2px;
  word-spacing: 0.5em;
  font-size: 20px;
}

th {
  color: yellow;
}

td {
  text-align: right;
  padding: 0 15px;
}

td:first-child {
  text-align: left;
}

.high-score {
  /* text-shadow: 0 0 5px white; */
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

textarea {
  width: 336px;
}
